*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skill{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    /* you need calculate padding in order to make two circle concentric */
    padding: 20px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px ;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05) ;
}
#number {
    font-size: larger;
    font-weight: 600;
    color: rgb(100, 100, 100);
}
circle{
   
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    /* it is calculated manualy */
    stroke-dasharray: 472px;
    stroke-dashoffset: 472px;
    animation: filler 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;

}

@keyframes filler{
    100%{
        stroke-dashoffset: 165;
    }
}